{% extends "layout.html" %}
{% block content %}
    <a href="/admin/posts/add">Add a new post</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        {% for post in posts %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td><a href="/admin/posts/modify?id={{post._id}}">Modify</a> | <a href="javascript:showDeleteAlert('/admin/posts/delete?id={{post._id}}')">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
