<!doctype html>
<html lang="en">

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<head>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='css/stylesheet.css') }}"
        rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Damion'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel'
        rel='stylesheet' type='text/css'>

    <title></title>
</head>

<body>
    <header>
        <div id="logo">
            <p>Anna Murer</p>
        </div>
        {% if not session.get('loggedIn') %}
            <div id="userpanel" class="notloggedin">
                <a href="/login">Login</a> | <a href="/register">Register</a>
            </div>
        {% else %}
            <div id="userpanel" class="loggedin"
                <p>Welcome, {{ session.get('username') }}</p>
                <img src="{{ session.get('profilePicPath')}}" class="profile-pic">
                <a href="/logout">Logout</a>
            </div>
        {% endif %}
        <nav>
            <ul>
                <li><a href="/blog" class="home-menu-icon">Home</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Test</a></li>
                <li><a href="">Looooooooooong</a></li>
                <li><a href="">Test</a></li>
            </ul>
        </nav>
    </header>

    <a name="top"></a>

    <section id="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>

    <section id="content">
        {% block content %}
        {% endblock %}
    </section>

    <section id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </section>

    <footer>
        <p>&copy; Alex Egger 2015. All rights reserved.</p>
        <a href="#top">Back to top</a>
    </footer>
</body>
</html>

{% macro renderField(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </dd>
{% endmacro %}
